:root{
    --blanco: #ffffff;
    --negro:  #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    --fuente-principal: 3.8rem; /* 1rem = 10px*/
}
html{
    font-size: 62.5%;
}
body{
    font-size: 18px;
    font-family: "Vend Sans", sans-serif;
}

.titulo {
    text-align: center;     
    font-size: var(--fuente-principal);
    color: var(--negro);
    font-optical-sizing: auto; 
     
}   
 
.titulo span{
    font-size: 2rem;
    color: var(--negro);
    
   }

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{    
    display: flex;
    flex-direction: column;
       
}
@media (min-width: 768px) {
     .navegacion-principal{
        flex-direction: row;
        justify-content: space-around; 
     }
} 
.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;    
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--negro);
}
